.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

 .text-small {
  font-size: 70% !important;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}
.nav-bg-primary {
  color: #000000 !important;
  background-color: RGBA(255, 200, 0, var(--bs-bg-opacity, 1)) !important;
}

.scrollspy-example {
  position: relative;
  height: auto;
  max-height: 100vh;
  overflow: scroll;
}

.border-success {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}

#selectCenter {
  text-align: center;
}

.w-05 {
  width: 5%
}
.w-10 {
  width: 10%
}
.w-15 {
  width: 15%
}
.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

table {
  table-layout:fixed;/* will switch the table-layout algorythm */
}

#penalty {
  text-decoration: none;
  /* color: #B19BD9; */
  overflow-wrap: break-word;
  font-size: 12px;
}

.offcanvas-avatar-pic{
  height:120px !important;
  max-width: 120px !important;
}

.modal-avatar-pic{
  height:150px !important;
  max-width: 150px !important;
}


.small-profile-avatar-pic{
  height:35px !important;
  max-width: 35px !important;
}