.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

 .text-small {
  font-size: 70% !important;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}
.nav-bg-primary {
  color: #000000 !important;
  background-color: RGBA(255, 200, 0, var(--bs-bg-opacity, 1)) !important;
}

.scrollspy-example {
  position: relative;
  height: auto;
  max-height: 100vh;
  overflow: scroll;
}

.border-success {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}

#selectCenter {
  text-align: center;
}

.w-01 {
  width: 1%
}
.w-55 {
  width: 55%
}
.w-05 {
  width: 5%
}
.w-10 {
  width: 10%
}
.w-12 {
  width: 12%
}
.w-13 {
  width: 13%
}
.w-15 {
  width: 15%
}
.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

table {
  table-layout:fixed;/* will switch the table-layout algorythm */
}

#penalty {
  text-decoration: none;
  /* color: #B19BD9; */
  overflow-wrap: break-word;
  font-size: 12px;
}

.offcanvas-avatar-pic{
  height:120px !important;
  max-width: 120px !important;
}

.modal-avatar-pic{
  height:150px !important;
  max-width: 150px !important;
}


.small-profile-avatar-pic{
  height:45px !important;
  max-width: 45px !important;
  /* margin-bottom: 1px !important; */
  z-index: 10;
}

.bi {
  vertical-align: -.125em;
  /* fill: currentColor; */
  /* z-index: 9999; */
}

.dropdown-menu {
  width: 220px !important;
  /* height: 400px !important; */
}
  .queue {
    /* z-index: 9998; */
    margin-left: 1px;
    color: #198754;
  }

.spinner-wrapper{
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  opacity: 0.8;
}

.spinner-border-bg{
  height: 60px;
  width: 60px;
}


/* ------- */


.nav-link_sub {
  border-radius: 0;
  position: relative;
  color: var(--bs-text);

}
.nav .nav-item .nav-link.active_sub {
  border-radius: 0;
   background-color: var(--bs-gray); /*--bs-yellow */

  /* --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64; */
}
.nav-link_sub.active_sub:after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 13px;
  height: 13px;
  left: 50%;
  margin-left: -7px;
  transform: rotate(45deg);
  /* background: #f0f0f0; */
  background-color: var(--bs-body-bg);
  /* background-color: #f0f0f0; */
  border-radius: 2px;
}
/* 
.tab-content {
  border: 1px solid #dee2e6;
  border-top: transparent;
  padding: 15px;
}

.tab-content .tab-pane {
  background-color: #FFF;
  color: #0080FF;
  min-height: 200px;
  height: auto;
} */


header.masthead_duel {
  padding-top: .50rem;
  padding-bottom: .50rem; /*.65rem;*/
  text-align: center;
  color: #fff;
  /* background-image: url("../assets/img/header-bg.jpg"); */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead_session {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  color: white;
  background-image: url('https://res.cloudinary.com/duk7tmek7/image/upload/c_fill,g_auto/65bd6e808328263ca1d938c9.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.navbar-nav .nav-link.active {
  /* font-size: 20px !important; */
  text-decoration: underline !important;
}

