.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }

  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}

.nav-bg-primary {
  /* color: #fff !important; */
  color: #000000 !important;
  background-color: RGBA(255, 200, 0, var(--bs-bg-opacity, 1)) !important;
}


.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.h7{
  /* color: #111111; */
  font-size: 8px !important;
  /* text-transform: uppercase; */
}

.scrollspy-example {
  position: relative;
  height: auto;
  max-height: 100vh;
  overflow: scroll;
}

.border-success {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}

#selectCenter {
  text-align: center;
}

.w-5 {
  width: 5%
}

.w-10 {
  width: 10%
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

table {
  table-layout:fixed;/* will switch the table-layout algorythm */
}

#penalty {
  text-decoration: none;
  /* color: #B19BD9; */
  overflow-wrap: break-word;
  font-size: 12px;
}
/* 
.table-condensed{
  font-size: 12px;
} */


.scrolling-wrapper{
	overflow-x: auto;
  height: auto !important;
}

/* body{
	background-color: black;
	color: #fff;
	font-family: 'system-ui';
}

h1{
	font-weight: 700;
	font-size: 3.4em;
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
} */

.card-block{
	height: 50px;
  max-height:50px !important;
  margin-bottom: 0 !important;
  width: 190px !important;
  
	/* background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important; */
	/* border-radius: 24px; */
	/* &:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
	} */
}
.big-checkbox {
  width: 30px;
  height: 30px;
  /* background-color: green!important; */
}

.small-avatar-pic{
  height:48px !important;
  max-width: 48px !important;
}

.small-avatar-pic-table{
  max-height:25px !important;
  padding: 0px !important;
  margin-bottom: 0 !important;
  /* max-width: 48px !important; */
}

.small-profile-avatar-pic{
  height:45px !important;
  max-width: 45px !important;
}

.col-card-match{
  width: 105px !important;
}

.col-card-check{
  width:30px !important; 
}

.col-matches{
  /* style="width: 300px; padding: 14px;" */
  width: 200px !important;
  padding: 5px !important;
  height: auto !important;
  /* background-color: burlywood; */
}

.col-matches-final-2{
  /* style="width: 300px; padding: 14px;" */
  width: 210px !important;
  /* padding: 14px !important;
  height: 10px !important; */
  /* background-color: burlywood; */
  background-color:silver;
}

.col-matches-final-1{
  /* style="width: 300px; padding: 14px;" */
  
   width: 210px !important;
  /*padding: 14px !important;
  height: 10px !important; */
  
  /* background-color: burlywood; */
  background-color:gold;
}

.col-matches-rule{
  /* style="padding: 4px; width: 5px;" */
  padding: 4px !important;
  width: 5px !important;

}


.ps-2 {
  height:2px !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.ps-8 {
  height:8px !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.ps-50 {
  height:50px !important;
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-1 {
  margin-left: 0 !important;
}

.px-2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.p-3 {
  padding: 0 !important;
}

.card-header-2 {
  margin-top: 0 !important;
  margin-left: 2 !important;
  /* position: 0; */
  /* top: 0; */
  /* left: 0; */
  /* width: 200px; */
  /* background: #165931; */
  /* z-index: 2; */
  height: 50px;
}

.navbar-nav-scroll{
  height: 100% !important;
}

.text-small {
  font-size: 70% !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2, .portfolio-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

/* .card-1{
	background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-2{
	background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.card-3{
	background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.card-4{
	background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.card-5{
	background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.card-6{
	background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.card-7{
	background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.card-8{
	background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.card-9{
	background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-10{
	background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}
 */



 /* Event Details */
 header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  /* background-image: url("../assets/img/header-bg.jpg"); */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-xl {
  padding: 1.25rem 2.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 700;
}

