.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.scrollspy-example {
  position: relative;
  height: 600px;
  overflow: scroll;
}

.border-success {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}

#selectCenter {
  text-align: center;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

table {
  table-layout:fixed;/* will switch the table-layout algorythm */
}

#penalty {
  text-decoration: none;
  /* color: #B19BD9; */
  overflow-wrap: break-word;
  font-size: 12px;
}
/* 
.table-condensed{
  font-size: 12px;
} */


/* .scrolling-wrapper{
	overflow-x: auto;
} */

/* body{
	background-color: black;
	color: #fff;
	font-family: 'system-ui';
}

h1{
	font-weight: 700;
	font-size: 3.4em;
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
} */

.card-block{
	height: 50px;
  max-height:50px !important;
  margin-bottom: 0 !important;
  width: 200px !important;
  
	/* background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important; */
	/* border-radius: 24px; */
	/* &:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
	} */
}
.big-checkbox {
  width: 30px;
  height: 30px;
  /* background-color: green!important; */
}

.small-avatar-pic{
  height:48px !important;
  max-width: 48px !important;
}

.small-profile-avatar-pic{
  height:35px !important;
  max-width: 35px !important;
}

.col-card-match{
  width: 115px !important;
}

.col-card-check{
  width:30px !important; 
}

.col-matches{
  /* style="width: 300px; padding: 14px;" */
  width: 220px !important;
  padding: 14px !important;
  height: auto !important;
  /* background-color: burlywood; */
}

.col-matches-final-2{
  /* style="width: 300px; padding: 14px;" */
  width: 220px !important;
  padding: 14px !important;
  height: 130px !important;
  /* background-color: burlywood; */
  background-color:silver;
}

.col-matches-final-1{
  /* style="width: 300px; padding: 14px;" */
  width: 220px !important;
  padding: 14px !important;
  height: 130px !important;
  /* background-color: burlywood; */
  background-color:gold;
}

.col-matches-rule{
  /* style="padding: 4px; width: 5px;" */
  padding: 4px !important;
  width: 5px !important;

}


.ps-2 {
  height:2px !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.ps-8 {
  height:8px !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.ps-50 {
  height:50px !important;
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-1 {
  margin-left: 0 !important;
}

.px-2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.p-3 {
  padding: 0 !important;
}

.card-header-2 {
  margin-top: 0 !important;
  margin-left: 2 !important;
  /* position: 0; */
  /* top: 0; */
  /* left: 0; */
  /* width: 200px; */
  /* background: #165931; */
  /* z-index: 2; */
  height: 50px;
}

.navbar-nav-scroll{
  height: 100% !important;
}

.text-small {
  font-size: 70% !important;
}

/* .card-1{
	background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-2{
	background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.card-3{
	background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.card-4{
	background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.card-5{
	background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.card-6{
	background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.card-7{
	background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.card-8{
	background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.card-9{
	background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-10{
	background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}
 */
